// scss 定义变量是 $开头, less 是 @

// basic color
$base-color: red;

// slider width
$base-slider-width: 270px;

// slider color
$base-slider-color: #001431;

// tab height
$base-tab-height: 50px;

// logo
$base-logo-height: 50px;
